<launch>
  <node pkg="inertiallabs_ins" type="il_ins" name="INS" output="screen">
   <param name="serial_port" type="string" value="/dev/ttyUSB0" />
   <param name="serial_baud" type="int" value="460800" />
   <!-- setting the output type and frequency -->
   <!-- TODO:- set the command line input -->
   <param name="output_type" type="int" value="0"/>
   <!--setting the publishing rate-->
   <param name="publish_rate" type="int" value="50"/>
  </node>
</launch>
